@model IEnumerable<RecursoHumano_ProyectoFinal.Models.Cal_Nomina>

@{
    ViewBag.Title = "Index";
}

<h2>Registro de Nominas</h2>

<p>
    @Html.ActionLink("Generar Nomina", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ano)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mes)
        </th>
        <th>
            @Html.DisplayName("Total de la nomina")
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ano)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monto_Total)
        </td>
       
        
    </tr>
}

</table>
