
@{
    ViewBag.Title = "Informes";
}
<h2>Informes</h2>
<link href="~/Content/Estilo/StyleSheet.css" rel="Stylesheet" type="text/css" />
<div>
    <h3>Informe de nominas</h3>
    <button class="btn btn-danger" onclick="location.href=('@Url.Action("","")')">Acceder &raquo;</button>
</div>
<div>
    <h3>Informe de empleados activos</h3>
    <button class="btn btn-danger" onclick="location.href=('@Url.Action("","")')">Acceder &raquo;</button>
</div>
<div>
    <h3>Informe de empleados inactivos</h3>
    <button class="btn btn-danger" onclick="location.href=('@Url.Action("","")')">Acceder &raquo;</button>
</div>
<div>
    <h3>Informe de departamentos</h3>
    <button class="btn btn-danger" onclick="location.href=('@Url.Action("Index","Departamentos")')">Acceder &raquo;</button>
</div>
<div>
    <h3>Informe de cargos</h3>
    <button class="btn btn-danger" onclick="location.href=('@Url.Action("Index","Cargos")')">Acceder &raquo;</button>
</div>
<div>
    <h3>Informe de entradas de empleados por mes</h3>
    <button class="btn btn-danger" onclick="location.href=('@Url.Action("","")')">Acceder &raquo;</button>
</div>
<div>
    <h3>Informe de salidas de empleados por mes</h3>
    <button class="btn btn-danger" onclick="location.href=('@Url.Action("","")')">Acceder &raquo;</button>
</div>
<div>
    <h3>Informe de las vacaciones de un empleado</h3>
    <button class="btn btn-danger" onclick="location.href=('@Url.Action("Index","Vacaciones")')">Acceder &raquo;</button>
</div>
<div>
    <h3>Informe de los permisos de un empleado</h3>
    <button class="btn btn-danger" onclick="location.href=('@Url.Action("Index","Permisos")')">Acceder &raquo;</button>
</div>
<div>
    <h3>Informe de las licencias de un empleado</h3>
    <button class="btn btn-danger" onclick="location.href=('@Url.Action("Index","Licencias")')">Acceder &raquo;</button>
</div>

