
@{
    ViewBag.Title = "Matenimiento";
}

<h2>Modulo de Matenimiento</h2>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link href="~/Content/Estilo/StyleSheet.css" rel="Stylesheet" type="text/css" />

<div class="card" style="width: 18rem;" align="center">
    <div class="card-body">
        <h5 class="card-title">Empleados</h5>
        <h6 class="card-subtitle mb-2 text-muted">Haga click en la opcion que desea:</h6>
        <buton class="btn btn-outline-danger" onclick="location.href=('@Url.Action("Index","Empleados")')">Ver Empleados</buton>
        <buton class="btn btn-outline-danger" onclick="location.href=('@Url.Action("Create","Empleados")')">Agregar Empleado</buton>
    </div>
    <div class="card-body">
        <h5 class="card-title">Cargos</h5>
        <h6 class="card-subtitle mb-2 text-muted">Haga click en la opcion que desea:</h6>
        <buton class="btn btn-outline-danger" onclick="location.href=('@Url.Action("Index","Empleados")')">Ver Cargos</buton>
        <buton class="btn btn-outline-danger" onclick="location.href=('@Url.Action("Create","Empleados")')">Agregar Cargo</buton>
    </div>
    <div class="card-body">
        <h5 class="card-title">Departamentos</h5>
        <h6 class="card-subtitle mb-2 text-muted">Haga click en la opcion que desea:</h6>

       <buton class="btn btn-outline-danger"  onclick="location.href=('@Url.Action("Index","Empleados")')">Ver Departamentos</buton>
       <buton class="btn btn-outline-danger" onclick="location.href=('@Url.Action("Create","Empleados")')">Agregar Departamento</buton>
       
        
    </div>
</div>




