
@{
    ViewBag.Title = "Procesos";
}
<h2>Procesos</h2>
<div>
    <h3>Calcular nomina</h3>
    <button class="btn btn-danger" onclick="location.href=('@Url.Action("","")')">Acceder &raquo;</button>
</div>
<div>
    <h3>Registrar salida de un empleado</h3>
    <button class="btn btn-danger" onclick="location.href=('@Url.Action("","")')">Acceder &raquo;</button>
</div>
<div>
    <h3>Registrar vacaciones de un empleado</h3>
    <button class="btn btn-danger" onclick="location.href=('@Url.Action("Create","Vacaciones")')">Acceder &raquo;</button>
</div>
<div>
    <h3>Registrar los permisos de un empleado</h3>
    <button class="btn btn-danger" onclick="location.href=('@Url.Action("Create","Permisos")')">Acceder &raquo;</button>
</div>
<div>
    <h3>Registrar las licencias de un empleado</h3>
    <button class="btn btn-danger" onclick="location.href=('@Url.Action("Create","Licencias")')">Acceder &raquo;</button>
</div>

